
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* general style */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fafafa;
    /* border: 1px solid white; */
}

h1 {
    margin-top: 4rem;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

body {
    background-color: #1a1a1a;
}

section {
    padding-top: 2rem;
    width: 80%;
    text-align: center;
    margin: auto;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tempMessage {
    position:absolute;
    bottom:4%;
    left:4%;
    padding: 20px 50px;
    text-align: center;
    transition: 0.5s;
}

.ok {
    background-color: #00695c;
}

.error {
    background-color: #b00020;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.inset {
    padding-left: 1rem;
}

.gray {
    color: lightgray;
}

.button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fafafa;
    padding: 10px 20px;
    width: 20rem;
    margin: 10px 2rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    background-color: #1a1a1a;
    transition: 0.3s;
}

.button:hover {
    background-color: #2a2a2a;
    border: 1px solid #6d6d6d;
    color: #bb86fc;
    transition: 0.6s;
}

.flex {
    display: flex;
    align-items: center;
}

/* index */

.menuItem {
    width: 60%;
    margin: 10px auto;
}


footer {
    text-align: right;
    padding: 3rem;
    color: #444;
    font-size: 0.9rem;
}

/* settings */

label {
    color: #fafafa;
}

select {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
    border-radius: 5px;
}

select, select>* {
    color: #1a1a1a;
    font-weight: 600;
}

/* game */

.row {
    flex-direction: row;
}

.cell {
    background-color: #444;
    margin: 1px;
    display: block;
}

.c00 {
    width: 20px;
    height: 20px;
}

.c01 {
    width: 10px;
    height: 10px;
}

.c02 {
    width: 5px;
    height: 5px;
}

.X {
    background-color: #4A148C;
}

.xX {
    background-color: #6A1B9A;
}

.O {
    background-color: #004D40;
}

.oO {
    background-color: #00695C;
}

#field {
    width: 40vw;
    height: 40vw;
    max-height: 70vh;
	flex: 4 1 50%;
	color: #1a1a1a;
}

.fieldWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.infoAndControls {
    width: 25vw;
    flex: 1 4 300px;
    flex-direction: column;
}

.controlPanel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.control {
    margin-right: 10px;
    margin-left: 10px;
}

.playerScore {
    width: 100%;
    margin: 3px 0;
    background-color:  #444;
}

.scoreWrapper {
    text-align: left;
    width: 20rem;
}

.scoreWrapper>* {
    box-sizing:border-box;
}

.scoreBar {
    height: 1rem;
}

#playerX {
    width: 0%;
    height: 1rem;
}

#playerO {
    width: 0%;
    height: 1rem;
}

/* about */

h2 {
    margin: 1rem 0;
}

.icon {
    width: 70px;
    height: 70px;
    opacity: 80%;
    padding: 0.5rem;
}

.icon:hover {
    opacity: 100%;
}

.socketName {
	display: none;
}