
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* general style */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fafafa;
}

h1 {
    margin-top: 4rem;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

body {
    background-color: #1a1a1a;
}

section {
    padding-top: 2rem;
    width: 80%;
    text-align: center;
    margin: auto;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tempMessage {
    position:absolute;
    bottom:4%;
    left:4%;
    padding: 20px 50px;
    text-align: center;
    transition: 0.5s;
}

.ok {
    background-color: #00695c;
}

.error {
    background-color: #b00020;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.inset {
    padding-left: 1rem;
}

.gray {
    color: lightgray;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: #fafafa;
    padding: 10px 20px;
    width: 20rem;
    margin: 10px 2rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    background-color: #1a1a1a;
    transition: 0.3s;
}

.button:hover {
    background-color: #2a2a2a;
    border: 1px solid #6d6d6d;
    color: #bb86fc;
    transition: 0.6s;
}

/* index */

.menuItem {
    width: 60%;
    margin: 10px auto;
}


footer {
    text-align: right;
    padding: 3rem;
    color: #444;
    font-size: 0.9rem;
}

/* settings */

label {
    color: #fafafa;
}

select {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
    border-radius: 5px;
}

select, select>* {
    color: #1a1a1a;
    font-weight: 600;
}

/* game */

.row {
    flex-direction: row;
}

.cell {
    background-color: #444;
    width: 20px;
    height: 20px;
    margin: 1px;
    display: block;
}

.X {
    background-color: darkred;
}

.O {
    background-color: rgb(39, 39, 138);
}

.x {
    background-color: rgb(151, 25, 25);
}

.o {
    background-color: rgb(70, 70, 192);
}

#field {
    display: flex;
    flex-direction: column;
}

/* about */

h2 {
    margin: 1rem 0;
}

.icon {
    width: 70px;
    height: 70px;
    opacity: 80%;
    padding: 0.5rem;
}

.icon:hover {
    opacity: 100%;
}

.flex {
    display: flex;
}

.center-vert {
    align-items: center;
}